<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="cs/loginok/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="cs/loginok/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="cs/loginok/img/bg.svg">
		</div>
		<div class="login-content">
			<form method="POST" action="accueil">
				{% csrf_token %}
				<img src="cs/loginok/img/avatar.svg">
				<h3 class="title">Welcome</h3>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" placeholder="Username...">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" class="input" placeholder="password...">
            	   </div>
            	</div>
				
            	<a href="{% url 'inscription_page' %}">Creer un Compte ??</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="cs/loginok/text/javascript" src="cs/loginok/js/main.js"></script>
</body>
</html>
