{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

{% block body %}{% endblock %}
{% block cont %}{% endblock cont %}

{% endblock content %}
